---
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
---

<PageLayout>
  <PageMeta title="Christoph Schmatzler" slot="meta" />
  <Fragment slot="main">
    <h1 class="bg-gradient-to-br from-yellow to-pink bg-clip-text text-5xl font-extrabold text-transparent">
      The Medium Place
    </h1>
    <section class="mt-8 w-full rounded-lg bg-mantle p-8">
      <p class="flex flex-wrap text-xl text-subtext">
        <span>Hi! I'm Christoph.&nbsp;</span>
        <span>This is where I unload everything that comes to my mind.</span>
        <span>
          Not quite a thought-dumpster, not exactly a wisdom-warehouse, but a perfectly lukewarm brain-porch where all the wonderfully "meh" ideas come to hang out.
        </span>
      </p>
    </section>
  </Fragment>
</PageLayout>
