---
import { getCollection } from "astro:content";
import PageLayout from "~/layouts/PageLayout.astro";
import PageMeta from "~/components/PageMeta.astro";
import PostList from "~/components/PostList.astro";

const allPosts = await getCollection("posts", ({ data }) => {
	return data.draft === false;
});
const posts = allPosts.sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf());
---

<PageLayout>
	<PageMeta title="Christoph Schmatzler" slot="meta" />
	<Fragment slot="main">
		<section>
			<PostList posts={posts} />
		</section>
	</Fragment>
</PageLayout>
