---
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
---

<PageLayout>
	<PageMeta title="The Medium Place" slot="meta" />
	<Fragment slot="main">
		<h1 class="mt-4 text-4xl font-bold tracking-tight">What I'm up to right now</h1>
		<div class="mt-6 space-y-4 text-lg">
			<section>
				<h2 class="mt-2 py-4 text-2xl">Work</h2>
				<span
					>Building Orchestrator, a low-code workflow automation engine, at <a
						href="https://phrase.com"
						class="font-bold underline">Phrase</a
					>.</span
				>
			</section>

			<section>
				<h2 class="mt-2 py-4 text-2xl">Side Projects</h2>
				<ul class="list-disc space-y-2">
					<li>
						Learning Rust and TypeScript/React by building <a
							href="https://github.com/leuchtturm-io/leuchtturm"
							class="font-bold underline">Leuchtturm</a
						>, a document management system.
					</li>
					<li>
						Working on educational content on how to plan, implement and deploy a SaaS-like service using the
						stack of Leuchtturm.
					</li>
					<li>Blogging on The Medium Place.</li>
				</ul>
			</section>
			<section>
				<h2 class="mt-2 py-4 text-2xl">Reading</h2>
				<ul class="list-disc space-y-2">
					<li>The Stormlight Archive by Brandon Sanderson</li>
					<li>Readings in Albanian by Leonard Newmark, Peter Prifti and Philip Hubbard</li>
					<li>Bird by Bird by Anne Lamott</li>
				</ul>
			</section>
			<section>
				<h2 class="mt-2 py-4 text-2xl">Listening</h2>
				<ul class="list-disc space-y-2">
					<li>Apart Together by Tim Minchin</li>
					<li>Lost at Sea by fin</li>
					<li>People in Motion by Dayglow</li>
				</ul>
			</section>
			<section>
				<h2 class="mt-2 py-4 text-2xl">Other stuff</h2>
				<ul class="list-disc space-y-2">
					<li>Working on my coffee-brewing skills.</li>
					<li>Keeping my fish alive.</li>
					<li>
						Posting short-form thoughts on <a
							href="https://hachyderm.io/@cschmatzler"
							class="font-bold underline">Mastodon</a
						>.
					</li>
				</ul>
			</section>
		</div>
	</Fragment>
</PageLayout>
