---
import type { CollectionEntry } from "astro:content";
export interface Props {
	posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

<ul class="flex flex-col gap-1">
	{
		posts.map((post) => {
			const formattedDate =
				post.data.date.getFullYear() +
				"-" +
				String(post.data.date.getMonth() + 1).padStart(2, "0") +
				"-" +
				String(post.data.date.getDate()).padStart(2, "0");

			return (
				<li class="flex gap-5">
					<time datetime={post.data.date.toISOString()} class="text-overlay w-24 font-light">
						{formattedDate}
					</time>
					<a href={`/post/${post.slug}`} class="hover:underline">
						{post.data.title}
					</a>
				</li>
			);
		})
	}
</ul>
