---
import type { CollectionEntry } from "astro:content";

export interface Props {
	thought: CollectionEntry<"thoughts">;
}

const { thought } = Astro.props;

const formattedDate =
	thought.data.date.getFullYear() +
	"-" +
	String(thought.data.date.getMonth() + 1).padStart(2, "0") +
	"-" +
	String(thought.data.date.getDate()).padStart(2, "0");

const formattedTime = thought.data.date.toLocaleTimeString("en-US", {
	hour: "numeric",
	minute: "2-digit",
	hour12: true,
});

const { Content } = await thought.render();
---

<article class="border-ctp-mauve rounded-xl border py-3.5 px-5">
	<time datetime={thought.data.date.toISOString()} class="flex text-ctp-overlay text-sm">
		{formattedDate} at {formattedTime}
	</time>
	<h2 class="mt-3 text-lg font-medium">{thought.data.title}</h2>
	<div class="prose prose-catppuccin mt-3 max-w-full">
		<Content />
	</div>
</article>
