---
type Props = {
  title: string;
  width?: number | string;
  height?: number | string;
};

const { title, width, height, class: className } = Astro.props;
---

<span class:list={[className, "icon-wrapper"]}>
  <svg
    class="icon"
    id="envelope-icon"
    aria-hidden="true"
    focusable="false"
    role="img"
    width={width || "1.5rem"}
    height={height || "1.75rem"}
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 256 256"
  >
    <rect width="256" height="256" fill="none"></rect><path
      d="M32,96V200a8,8,0,0,0,8,8H216a8,8,0,0,0,8-8V96L128,32Z"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="16"></path><line
      x1="110.55"
      y1="152"
      x2="34.47"
      y2="205.74"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="16"></line><line
      x1="221.53"
      y1="205.74"
      x2="145.45"
      y2="152"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="16"></line><polyline
      points="224 96 145.46 152 110.55 152 32 96"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="16"></polyline></svg
  >
</span>

<style>
  .icon-wrapper {
    display: inline-block;
  }

  .icon {
    display: block;
    fill: currentColor;
  }
</style>
